@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Open+Sans');
    /*
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    */

/* Color set:
  #f30303 - red
  #033939 - dark green
  #00e9dc - teal
  #f8f3f5 - cream
  #d18232 - sand
 */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
