@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Open+Sans');
    /*
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    */

/* Color set:
  #f30303 - red
  #033939 - dark green
  #00e9dc - teal
  #f8f3f5 - cream
  #d18232 - sand
 */

* {
 box-sizing: border-box;
}

body {
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
}

.header {
 overflow: hidden;
 background-color: #f8f3f5;
 padding: 20px 10px;
 position: fixed;
 top: 0;
 width: 100%;
}

.header a {
 float: left;
 color: black;
 text-align: center;
 padding: 12px;
 text-decoration: none;
 font-size: 18px;
 line-height: 25px;
 border-radius: 4px;
}

#header-img {
 height: 63px;
 width:200px;
}

#nav-links a:hover {
 background-color: #d18232;
 color: black;
}

#nav-links a.active {
 background-color: dodgerblue;
 color: white;
}

.header-right {
 float: right;
}

@media screen and (max-width: 550px) {
 .header a {
   float: none;
   display: block;
   text-align: left;
 }
 .header-right {
   float: none;
 }
}

#info {
  height: 250px;
  width: auto;
}

.divide{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  height: 10px;
}
.item1 {
  grid-column: 1 / span 2;
  background-color: #f30303;
}
.item2 {
  grid-column: 3 / span 2;
  background-color: #00e9dc;
}
.item3 {
  grid-column: 5 / span 2;
  background-color: #033939;
}
